.dashboard-wrapper{
    display: flex;
    min-height: 100vh;
}

.sidebar-container{
    justify-content: space-between;
    width: 18%;
    display: flex;
    border-right: 1px solid #e7e7e7;
    flex-direction: column;
    padding: 15px;
}
.sidebar-top{
    gap: 5px;
    display: flex;
    flex-direction: column;
}
.sidebar-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
}
.sidebar-item-left{
    display: flex;
    gap: 10px;
}
.sidebar-item.active{
    background: #ecf3fe;
}

.sidebar-title{
    font-size: 14px;
}
.sidebar-icon {
  /* margin-top: 3px; */
    }
    .sidebar-count {
        background: #ecf3fe;
    color: #464ef0;
    font-size: 10px;
    border-radius: 5px;
    width: 10px;
    padding: 3px;
    height: 10px;
    text-align: center;
          }
.sidebar-icon svg{
color: #222;
}
.sidebar-item.active .sidebar-title,.sidebar-item.active .sidebar-icon svg{
    color: #464ef0;
}

.sidebar-logo-container{
    width: 100%;
}
.primary-links-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.sidebar-bottom{
    gap: 10px;
    display: flex;
    flex-direction: column;
}
.profile-info-container{
    align-items: center;
    display: flex;
    gap: 10px;
    border: 1px solid #e7e7e7;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}
.profile-info-image{

}
.profile-info-image img{
    border-radius: 30px;
}
.profile-info-text{
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.profile-info-text span.name{
font-size: 14px;
}
.profile-info-text span.email{
    font-size: 12px;
    color: #808080;
}
