.page-container{
    padding: 15px 30px;
    width: 82%;
}
.page-header-container{
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.page-heading{
    font-size: 26px;
    font-weight: 500;
}

.heading-buttons-container{
    display: flex;
    gap: 10px;
}

.page-header-container button{
    padding: 10px 30px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    border: none;
}

.page-header-container button.primary{
    background: #464ef0;
    box-shadow: 3px 3px 4px #464ef03b;
    color: #fff;
}
.page-header-container button.primary:hover,.page-header-container button.primary:active,.page-header-container button.primary:visited,.page-header-container button.primary:focus{
    background: #2f37da;
}

.page-header-container button.secondary{
    background: #ecf3fe;
    box-shadow: 3px 3px 4px #464ef01c;
    color: #464ef0;
}
.page-header-container button.secondary:hover,.page-header-container button.secondary:active,.page-header-container button.secondary:visited,.page-header-container button.secondary:focus{
    background: rgb(207, 209, 244);
}
.page-header-container button.danger{
    background: #ffe4e7;
    box-shadow: 3px 3px 4px #fff2f3;
    color: red;
}
.page-header-container button.danger:hover,.page-header-container button.danger:active,.page-header-container button.danger:visited,.page-header-container button.danger:focus{
    background: #ffc8cc
}

.users-container{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.user-item{
    min-width: 28%;
    max-width: 28%;
    flex-grow: 1;
 position: relative;
    flex-basis: 0;
    display: flex;
    gap: 10px;
    border-radius: 10px;
    padding: 15px;
    background: #ecf3fe;
    align-items: center;
    justify-content: space-between;
}
.user-item-left{
    align-items: center;
    gap: 10px;
    display: flex;
}

.user-item .profile-image-container img{
border-radius: 30px;
}

.user-item .profile-text-container .user-name{
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    color: #222;
}
.user-item .profile-text-container .user-name:hover{
   text-decoration: underline;
    color: #464ef0;
}
.user-item .profile-text-container .email{
    font-size: 12px;
    font-weight: 300;
    color: #808080;
}
.profile-icon-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.edit-icon svg{
    cursor: pointer;
    color: #464ef0;
}
.delete-icon svg{
    cursor: pointer;
    color: red;
}
.pagination-container {
    display: flex;
    gap: 10px;
    justify-content: center;
}
.pagination-container li {
    align-items: center;
    list-style: none;
    min-height: 30px;
    justify-content: center;
    text-align: center;
    min-width: 30px;
    padding: 0px 5px;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    font-size: 12px;
    background: #ecf3fe;

}
.pagination-container li a{
    width: 100%;
}
.pagination-container li:hover {
    color: #464ef0;
}
.pagination-container li.selected {
    background: #464ef0;
    color: #ecf3fe ;
}
.previous.disabled,.next.disabled,.previous.disabled:hover,.next.disabled:hover{
    background: #e3e3e3;
    color: #a3a3a3;
}
.skeleton-cards-loader{
    display: flex;
    gap:10px;
    flex-wrap: wrap;
}
.skeleton-card{
    border-radius: 10px ;
    min-width: 28%;
    flex-grow: 1;
    flex-basis: 0;
}
.form-container{
    background: #fff;
    padding: 30px;
}
.button-container{
    display: flex;
    gap: 10px;
}
.submit-button{
    box-shadow: 3px 3px 4px #464ef03b;
    border-radius: 10px;
    color: #fff;
    background: #464ef0;
    width: 50%;
    padding: 10px 0px;
    border: none;
    cursor: pointer;
}
.submit-button:hover,.submit-button:active,.submit-button:visited,.submit-button:focus{
    background: #2f37da;
}
.cancel-button{
    box-shadow: 3px 3px 4px #464ef01c;
    border-radius: 10px;
    color: #464ef0;
    background: #ecf3fe;
    width: 50%;
    padding: 10px 0px;
    border: none;
    cursor: pointer;
}
.cancel-button:hover,.cancel-button:active,.cancel-button:visited,.cancel-button:focus{
    background: rgb(207, 209, 244);
}
.select-circle{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 15px;
    height: 15px;
    cursor: pointer;
    border-radius: 10px;
    background: #fff;
}

.select-circle svg{
    color: #464ef0;
}
.user-detail-card{
    padding: 30px;
    display: flex;
    justify-content: center;
}
.user-detail-card{
    padding: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.user-detail-card img{
    border-radius: 50px;
}
.user-detail-card .text-container{
    text-align: center;
    margin-top: 10px;
    width: 100%;
    border-radius: 10px;
    padding: 20px 0px;
    background: #f4f5f7;
}
.user-detail-card .detail-user-id{
    color: #666;
    font-size: 14px;
    margin-bottom: 5px;
}
.user-detail-card .detail-user-name{
    color: #464ef0;
    font-size: 22px;
    margin-bottom: 5px;
}
.user-detail-card .detail-user-email{
    color: #222;
    font-size: 16px;
}
.delete-confirmation-card{
    padding: 30px;
    text-align: center;
}
.delete-confirmation-card .button-container{
    margin-top: 15px;
}