.login-container{
    position: absolute;
    min-width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 15px;
    padding: 50px;
    box-shadow: 4px 2px 12px #0000006b;
}
.logo-container{
    text-align: -webkit-center;
}

.input-container{
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.login-button{
    background: #464ef0;
    padding: 10px;
    text-align: center;
    box-shadow: 3px 3px 4px #464ef03b;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
}
.login-button:hover,.login-button:active,.login-button:visited,.login-button:focus{
    background: #2f37da;
}
.input-label{
    color: #222;
}
.input-field{
    padding-left: 15px;
    height: 40px;
    background: #e9eaff;
    border-radius: 10px;
    border: none;
}
.error{
    font-size: 12px;
    color: red;
}
.login-error{
    background: #fbe4e4;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.default-user-container{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}
.default-user-container span{
    font-size: 14px;
    color: #888;
}