

body {
    display: block;
    margin: 0px;
    font-family: sans-serif;
}
.capitalize{
    text-transform: capitalize;
}
.total-spinner{
    position: absolute;
    height: 100%;
    z-index: 9;
    width: 100%;
    background: #fff;
    opacity: 0.5;
}
.total-spinner .total-loading{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.total-spinner .total-loading svg{
height: 45px;
}
.modal-header{
    background: #464ef0;
    color: #fff;
    padding: 7px 15px;
    align-items: center;
    display: flex;
    border: none;
    justify-content: space-between;
}
.modal-header .close{
   cursor: pointer;
}
.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}





